.container{
    margin-bottom: 100px;
}
.top-bg1{
    margin: 0px;
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 15%;
}
.top-bg2{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10%;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom,#191515 0%,#1c1b1b 100%);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}
#smartphone a,#laptop a{
    color: rgb(245, 181, 97);
    text-decoration: none;
}
.card{
    border: none;
    box-shadow: 0px 5px 10px lightgray;
}
.categories{
    text-align: center;
}
.cat1{
    align-self: center;
}
#orange-bg{
    height: 5px;
    background-image: linear-gradient(to right,rgb(243, 194, 102),#ffa500);
    margin: 5px 570px;
    border-radius: 10px;
}
.cat-bg{
    box-shadow: 0 5px 5px lightgray;
}